<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Gentallela Alela! | </title>

  <!-- Bootstrap core CSS -->

  <link href="/static/admin/css/bootstrap.min.css" rel="stylesheet">

  <link href="/static/admin/fonts/css/font-awesome.min.css" rel="stylesheet">
  <link href="/static/admin/css/animate.min.css" rel="stylesheet">

  <!-- Custom styling plus plugins -->
  <link href="/static/admin/css/custom.css" rel="stylesheet">
  <link href="/static/admin/css/icheck/flat/green.css" rel="stylesheet">


  <script src="/static/admin/js/jquery.min.js"></script>

  <!--[if lt IE 9]>
        <script src="../assets/js/ie8-responsive-file-warning.js"></script>
        <![endif]-->

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

</head>



<body style="background:#F7F7F7;">

  <div class="">
    <a class="hiddenanchor" id="tolforgotpwd"></a>

		<div id="wrapper">
      <div id="forgotpwd" class="animate form">
        <section class="login_content">
          <form id="form-forgotpwd" action="/auth/forgot-pwd" method="POST">>
            <h1>Forgot Password</h1>
            {% if err_msg != "" %}
            <div class="alert alert-danger" role="alert">
              <span class="glyphicon glyphicon-exclamation-sign"
                aria-hidden="true"></span>
              <span class="sr-only"> Error: </span> {{ err_msg }}
            </div>
            {% end %}
            <div id="forgotpwdAlertPanel"></div>

            <div>
              <input id="forgotpwd-loginname" name="forgotpwd-loginname"
                type="number" class="form-control" placeholder="Phone Number" required="" />
            </div>
            <div>
              <input id="forgotpwd-verification-code" name="forgotpwd-verification-code"
                type="number" class="form-control" placeholder="Verification Code" required="" />
            </div>
						<div>
              <input type="button" id="btn" value="Get Verification Code" style="border:none;background:none" />
            </div>
            <div>
              <input id="forgotpwd-password" name="forgotpwd-password"
                type="password" class="form-control" placeholder="Password" required="" />
            </div>
            <div>
              <a class="btn btn-default submit" onclick="SubmitForgotpwd();">Submit</a>
            </div>
            <div class="clearfix"></div>
            <div class="separator">

              <p class="change_link">Already a member ?
                <a href="/auth/login" class="to_register"> Log in </a>
              </p>
              <div class="clearfix"></div>
              <br />
              <div>
                <h1><i class="fa fa-bicycle" style="font-size: 26px;"></i> 骑无止境</h1>

                <p>©2015 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
              </div>
            </div>
          </form>
          <!-- form -->
        </section>
        <!-- content -->
      </div>

    </div>
  </div>

</body>

  <script type="text/javascript" src="{{static_url("js/md5.js")}}"></script>

  <script type="text/javascript">
  function GetVerificationCode() {
		var loginname = document.getElementById("forgotpwd-loginname").value;
		if (loginname == null || loginname == undefined || loginname == '') {
			var forgotpwdAlertPanel = document.getElementById("forgotpwdAlertPanel");
			forgotpwdAlertPanel.innerHTML = '<div class="alert alert-danger" role="alert">\
				<span class="glyphicon glyphicon-exclamation-sign"\
				aria-hidden="true"></span> <span class="sr-only"> Warning: </span>'+
				"{{_("The loginname is required and cannot be empty")}}" +
				'</div>';
			return false;
		} else {
			$.get("/auth/api/get-verification-code?loginname="+loginname,function(data,status){
				ajaxobj = eval("("+data+")");
			});
		}
	}

    var wait = 300;

    function time(t) {
      if (wait == 0) {
        t.removeAttribute("disabled");
        t.value = "Get Verification Code";
        wait = 300;
      } else {
        if (wait == 300)
          GetVerificationCode();

        t.setAttribute("disabled", true);
        t.value = "" + wait + " s";
        wait--;
        setTimeout(function () {
          time(t)
        },
        1000)
      }
    }
    document.getElementById("btn").onclick = function () {
      time(this);
    }
  </script>

	<script type="text/javascript">
		function SubmitForgotpwd() {
			var loginname = document.getElementById("forgotpwd-loginname").value;
			if (loginname == null || loginname == undefined || loginname == '') {
				var forgotpwdAlertPanel = document.getElementById("forgotpwdAlertPanel");
				forgotpwdAlertPanel.innerHTML = '<div class="alert alert-danger" role="alert">\
					<span class="glyphicon glyphicon-exclamation-sign"\
					aria-hidden="true"></span> <span class="sr-only"> Warning: </span>'+
					"{{_("The loginname is required and cannot be empty")}}" +
					'</div>';
				return false;
			}
			var password = document.getElementById("forgotpwd-password").value;
			if (password == null || password == undefined || password == '') {
				var forgotpwdAlertPanel = document.getElementById("forgotpwdAlertPanel");
				forgotpwdAlertPanel.innerHTML = '<div class="alert alert-danger" role="alert">\
					<span class="glyphicon glyphicon-exclamation-sign"\
					aria-hidden="true"></span> <span class="sr-only"> Warning: </span>'+
					"{{_("The password is required and cannot be empty")}}" +
					'</div>';
				return false;
			}

      md5pwd = hex_md5(document.getElementById("forgotpwd-password").value);
			document.getElementById("forgotpwd-password").value = md5pwd;
			document.getElementById("form-forgotpwd").submit();
		}
	</script>

</body>
</html>
