<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Gentallela Alela! | </title>

  <!-- Bootstrap core CSS -->

  <link href="/static/admin/css/bootstrap.min.css" rel="stylesheet">

  <link href="/static/admin/fonts/css/font-awesome.min.css" rel="stylesheet">
  <link href="/static/admin/css/animate.min.css" rel="stylesheet">

  <!-- Custom styling plus plugins -->
  <link href="/static/admin/css/custom.css" rel="stylesheet">
  <link href="/static/admin/css/icheck/flat/green.css" rel="stylesheet">


  <script src="/static/admin/js/jquery.min.js"></script>

  <!--[if lt IE 9]>
        <script src="../assets/js/ie8-responsive-file-warning.js"></script>
        <![endif]-->

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

</head>



<body style="background:#F7F7F7;">

  <div class="">
    <a class="hiddenanchor" id="toregister"></a>
    <a class="hiddenanchor" id="tologin"></a>
    <a class="hiddenanchor" id="tolforgotpwd"></a>

    <div id="wrapper">
      <div id="login" class="animate form">
        <section class="login_content">
          <form id="form-signin" action="/auth/login" method="POST">
            {% raw xsrf_form_html() %}

            <h1>Login Form</h1>
            {% if err_msg != "" %}
            <div class="alert alert-danger" role="alert">
              <span class="glyphicon glyphicon-exclamation-sign"
                aria-hidden="true"></span>
              <span class="sr-only"> Error: </span> {{ err_msg }}
            </div>
            {% end %}
            <div id="alertPanel"></div>

            <div>
              <input id="input-email" name="input-email" value="{{ login_name }}"
                type="text" class="form-control" placeholder="Loginname" required="" />
            </div>
            <div>
              <input id="input-password" name="input-password"
                type="password" class="form-control" placeholder="Password" required="required" />
            </div>
            <div class="checkbox">
              {% if remember_me == "on" %} <label> <input type="checkbox"
                name="remember-me" checked> {{_("Remember me")}}
              </label> {% else %} <label> <input type="checkbox"
                name="remember-me"> {{_("Remember me")}}
              </label> {% end %}
            </div>
            <div>
              <a class="btn btn-default submit" onclick="SubmitLogin();">Log in</a>
              <a class="reset_pass" href="/auth/forgot-pwd">Lost your password?</a>
            </div>
            <div class="clearfix"></div>
            <div class="separator">

              <p class="change_link">New to site?
                <a href="#toregister" class="to_register"> Create Account </a>
              </p>
              <div class="clearfix"></div>
              <br />
              <div>
                <h1><i class="fa fa-bicycle" style="font-size: 26px;"></i> 骑无止境</h1>

                <p>©2015 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
              </div>
            </div>
          </form>
          <!-- form -->
        </section>
        <!-- content -->
      </div>

      <div id="register" class="animate form">
        <section class="login_content">
          <form id="form-register" action="/auth/register" method="POST">>
            <h1>Create Account</h1>
            {% if err_msg != "" %}
            <div class="alert alert-danger" role="alert">
              <span class="glyphicon glyphicon-exclamation-sign"
                aria-hidden="true"></span>
              <span class="sr-only"> Error: </span> {{ err_msg }}
            </div>
            {% end %}
            <div id="registerAlertPanel"></div>

            <div>
              <input id="register-loginname" name="register-loginname"
                type="text" class="form-control" placeholder="Loginname" required="" />
            </div>
            <div>
              <input id="register-nickname" name="register-nickname"
                type="text" class="form-control" placeholder="Nickname" required="" />
            </div>
            <div>
              <input id="register-password" name="register-password"
                type="password" class="form-control" placeholder="Password" required="" />
            </div>
            <div>
              <a class="btn btn-default submit" onclick="SubmitRegister();">Submit</a>
            </div>
            <div class="clearfix"></div>
            <div class="separator">

              <p class="change_link">Already a member ?
                <a href="#tologin" class="to_register"> Log in </a>
              </p>
              <div class="clearfix"></div>
              <br />
              <div>
                <h1><i class="fa fa-bicycle" style="font-size: 26px;"></i> 骑无止境</h1>

                <p>©2015 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
              </div>
            </div>
          </form>
          <!-- form -->
        </section>
        <!-- content -->
      </div>

    </div>
  </div>

</body>

  <script type="text/javascript" src="{{static_url("js/md5.js")}}"></script>
	<script type="text/javascript">
		function SubmitLogin() {
			var email = document.getElementById("input-email").value;
			if (email == null || email == undefined || email == '') {
				var alertPanel = document.getElementById("alertPanel");
				alertPanel.innerHTML = '<div class="alert alert-danger" role="alert">\
					<span class="glyphicon glyphicon-exclamation-sign"\
					aria-hidden="true"></span> <span class="sr-only"> Warning: </span>'+
					"{{_("The username is required and cannot be empty")}}" +
					'</div>';
				return false;
			}
			var password = document.getElementById("input-password").value;
			if (password == null || password == undefined || password == '') {
				var alertPanel = document.getElementById("alertPanel");
				alertPanel.innerHTML = '<div class="alert alert-danger" role="alert">\
					<span class="glyphicon glyphicon-exclamation-sign"\
					aria-hidden="true"></span> <span class="sr-only"> Warning: </span>'+
					"{{_("The password is required and cannot be empty")}}" +
					'</div>';
				return false;
			}

      md5pwd = hex_md5(document.getElementById("input-password").value);
			document.getElementById("input-password").value = md5pwd;
			document.getElementById("form-signin").submit();
		}
	</script>

  <script type="text/javascript">
		function SubmitRegister() {
			var loginname = document.getElementById("register-loginname").value;
			if (loginname == null || loginname == undefined || loginname == '') {
				var registerAlertPanel = document.getElementById("registerAlertPanel");
				registerAlertPanel.innerHTML = '<div class="alert alert-danger" role="alert">\
					<span class="glyphicon glyphicon-exclamation-sign"\
					aria-hidden="true"></span> <span class="sr-only"> Warning: </span>'+
					"{{_("The loginname is required and cannot be empty")}}" +
					'</div>';
				return false;
			}
			var password = document.getElementById("register-password").value;
			if (password == null || password == undefined || password == '') {
				var registerAlertPanel = document.getElementById("registerAlertPanel");
				registerAlertPanel.innerHTML = '<div class="alert alert-danger" role="alert">\
					<span class="glyphicon glyphicon-exclamation-sign"\
					aria-hidden="true"></span> <span class="sr-only"> Warning: </span>'+
					"{{_("The password is required and cannot be empty")}}" +
					'</div>';
				return false;
			}

      md5pwd = hex_md5(document.getElementById("register-password").value);
			document.getElementById("register-password").value = md5pwd;
			document.getElementById("form-register").submit();
		}
	</script>

</body>
</html>
